<h1>Confirm enrolment request</h1>
<%= form_tag confirm_admin_enrolment_request_path(@enrolment_request) do %>
  <%= label_tag :external_learner_id, 'Student ID' %>
  <%= text_field_tag :external_learner_id %>

  <% if @enrolment_request.request_type == 'degree' %>
    <%= label_tag :program_code %>
    <%= text_field_tag :program_code %>

    <%= label_tag :program_run_code %>
    <%= text_field_tag :program_run_code %>
  <% end %>

  <%= submit_tag 'Confirm' %>
<% end %>
